<div class="container-fluid mt-5 p-5 main-container">
    <div class="row">
        <div class="col-sm-6 frame text-center">
            <!-- <img class="img-fluid" [src]="imgSrc" (mouseover)="imgSrc = '../../assets/poster-1.png'" (mouseout)="imgSrc = '../../assets/poster-0.png'" width="70%" src="../../assets/poster-0.png"> -->
            <img  width="60%" class="img-fluid profile-img" [src]="imgSrc ? '../../assets/poster-1.png' : '../../assets/poster-0.png'" 
                (mouseover)="imgSrc = true"
                (mouseout)="imgSrc = false">
        </div>
        <div class="col-sm-6 p-3 mt-3">
            <h1>Randhir Kumar</h1>
            <div class="break-line mb-5"></div>
            
            <h6 class="para-heading">Introduction</h6>
            <p class="about-para">I'm a Creative Developer &amp; a Quick Learner</p>
            <div class="break-line"></div>
            
            <!-- about -->
            <div class="mt-5"></div>
            <h6 class="para-heading">About</h6>
            <h3 class="detail-para">My approach to building the tech brands of tomorrow.</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae earum, illo aut nostrum, quaerat et animi quae voluptatem atque sit sunt omnis error saepe quia sequi, eaque dolor vitae nihil soluta explicabo!</p>
            <div class="break-line"></div>

            <!-- Skills -->
            <div class="mt-5"></div>
            <h6 class="para-heading">Skills</h6>
            <h3 class="detail-para">What can I do?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae earum, illo aut nostrum, quaerat et animi quae voluptatem atque sit sunt omnis error saepe quia sequi, eaque dolor vitae nihil soluta explicabo!</p>
            <div class="break-line"></div>

            <!-- experience -->
            <div class="mt-5"></div>
            <h6 class="para-heading">Experience</h6>
            <h3 class="detail-para">How my career started?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae earum, illo aut nostrum, quaerat et animi quae voluptatem atque sit sunt omnis error saepe quia sequi, eaque dolor vitae nihil soluta explicabo!</p>
            <div class="break-line"></div>

            <!-- education -->
            <div class="mt-5"></div>
            <h6 class="para-heading">Education</h6>
            <h3 class="detail-para">What are the educational degree I hold?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae earum, illo aut nostrum, quaerat et animi quae voluptatem atque sit sunt omnis error saepe quia sequi, eaque dolor vitae nihil soluta explicabo!</p>
            <div class="break-line"></div>

            <!-- hobbies -->
            <div class="mt-5"></div>
            <h6 class="para-heading">Hobbies</h6>
            <h3 class="detail-para">What do I do in my leisure time?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae earum, illo aut nostrum, quaerat et animi quae voluptatem atque sit sunt omnis error saepe quia sequi, eaque dolor vitae nihil soluta explicabo!</p>
            <div class="break-line"></div>

            <!-- hobbies -->
            <div class="mt-5"></div>
            <h6 class="para-heading">Contact</h6>
            <h3 class="detail-para">Have a cup of coffee together?</h3>
            <p><a href="mailto:randhir@tipsandtricks.dev" target="_blank">randhir@tipsandtricks.dev</a></p>
            <div class="break-line"></div>


        </div>
    </div>
</div>