.cursor {
    width: 40px;
    height: 40px;
    border: 2px dotted #f1f1f1;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 9999;
  }
  
  @keyframes animate {
    0%
    {
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
  .expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
    cursor: none !important;
  }

  .main-container{
    position: fixed;top: -50px;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    overflow-y: auto;
  }
  .profile-img{
    -webkit-clip-path: polygon(0 0, 100% 9%, 100% 92%, 0% 100%);
clip-path: polygon(0 0, 100% 9%, 100% 92%, 0% 100%);
  }
  @media only screen and (min-width:720px) {
    .profile-img{
      position: fixed;
      width: 25%;
      left: 12%;
      top: 15%;
    }
  }
  .para-heading{
    font-family: 'Anek Latin', sans-serif;
    color: #E7F6F2;
    text-transform: uppercase;
    font-weight: 600;
  }
  h1{
    font-family: 'Anek Latin', sans-serif;
    color: #E7F6F2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 70px;
    line-height: 1;
  }
  .about-para{
    font-size: 4em;
    color: #E7F6F2;
    font-family: 'Anek Latin', sans-serif;
    line-height: 1;
  }
  .detail-para{
    color: #E7F6F2;
    font-family: 'Anek Latin', sans-serif;
  }
  p{
    color: #A5C9CA;
    font-family: 'Anek Latin', sans-serif;
  }

  .break-line{
    width: 125px;
    height: 5px;
    background-color: #E7F6F2;
  }